---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/conversations.history?channel=C01BL0GSPP1&token=SLACK_API_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - ad77de7e299e39a8f1b90e4bcc8c8b82
      X-Oauth-Scopes:
      - chat:write,channels:manage,groups:write,channels:read,users:read,channels:history,groups:history,im:history
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-1obv,haproxy-edge-pdx-rgh8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[{"bot_id":"B01BU12FUEA","type":"message","text":"make
        Chidi choose a puppy","user":"U01BL0TC86B","ts":"1602195554.001100","team":"T01CDB91DEV","bot_profile":{"id":"B01BU12FUEA","deleted":false,"name":"Water
        - Jessica - API Project","updated":1601951747,"app_id":"A01CDBH820Z","icons":{"image_36":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_36.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/service_72.png"},"team_id":"T01CDB91DEV"}},{"bot_id":"B01BU12FUEA","type":"message","text":"flatten
        penises","user":"U01BL0TC86B","ts":"1602192941.000900","team":"T01CDB91DEV","bot_profile":{"id":"B01BU12FUEA","deleted":false,"name":"Water
        - Jessica - API Project","updated":1601951747,"app_id":"A01CDBH820Z","icons":{"image_36":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_36.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/service_72.png"},"team_id":"T01CDB91DEV"}},{"type":"message","subtype":"channel_join","ts":"1602189817.000700","user":"U01CDBMR333","text":"<@U01CDBMR333>
        has joined the channel","inviter":"U01C0N8RAUS"},{"type":"message","subtype":"channel_join","ts":"1602189744.000400","user":"U01BL0TC86B","text":"<@U01BL0TC86B>
        has joined the channel","inviter":"U01C0N8RAUS"},{"type":"message","subtype":"channel_topic","ts":"1602116354.000200","user":"U01C0N8RAUS","text":"<@U01C0N8RAUS>
        set the channel topic: torture Chidi","topic":"torture Chidi"},{"type":"message","subtype":"channel_join","ts":"1601951182.000500","user":"U01C0N8RAUS","text":"<@U01C0N8RAUS>
        has joined the channel"},{"type":"message","subtype":"channel_join","ts":"1601951127.000200","user":"U01C6TTNL6Q","text":"<@U01C6TTNL6Q>
        has joined the channel"}],"has_more":false,"pin_count":0,"channel_actions_ts":null,"channel_actions_count":0}'
  recorded_at: Fri, 09 Oct 2020 02:23:17 GMT
recorded_with: VCR 6.0.0
