---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=SLACK_API_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - b43914cd4e772d9c21953e590b9299fc
      X-Oauth-Scopes:
      - chat:write,users:read,channels:read,channels:history,groups:history
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-49je,haproxy-edge-iad-qh1k
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C01BL0GSPP1","name":"good-place-simulation","is_channel":true,"is_group":false,"is_im":false,"created":1601951127,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"good-place-simulation","is_shared":false,"parent_conversation":null,"creator":"U01C6TTNL6Q","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01CDB91DEV"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"torture
        Chidi","creator":"U01C0N8RAUS","last_set":1602116354},"purpose":{"value":"This
        *channel* is for working on a project. Hold meetings, share docs, and make
        decisions together with your team.","creator":"U01C6TTNL6Q","last_set":1601951127},"previous_names":[],"num_members":4},{"id":"C01BU0NRFHC","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1601950932,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"U01C6TTNL6Q","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01CDB91DEV"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":[...]
