---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=SLACK_API_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 9a01f13d98fb2e6ce35a4829afe62683
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,users:read,chat:write
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - users:read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-cn1z,haproxy-edge-pdx-r6b3
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"T01CDB91DEV","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"T01CDB91DEV"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"U01BL0TC86B","team_id":"T01CDB91DEV","name":"water_jessica_api_pro","deleted":false,"color":"3c989f","real_name":"Water
        - Jessica - API Project","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight
        Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Water
        - Jessica - API Project","real_name_normalized":"Water - Jessica - API Project","display_name":"","display_name_normalized":"","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"g16790b5cf92","api_app_id":"A01CDBH820Z","always_active":false,"bot_id":"B01BU12FUEA","image_24":"https:\/\/secure.gravatar.com\/avatar\/16790b5cf92fa710fe62124d8e396ca0.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/16790b5cf92fa710fe62124d8e396ca0.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/16790b5cf92fa710fe62124d8e396ca0.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatar[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=SLACK_API_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - bd356d64c0e20fa141607761b8b3f9f1
      X-Oauth-Scopes:
      - identify,channels:history,channels:read,users:read,chat:write
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-crth,haproxy-edge-pdx-3vri
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C01BL0GSPP1","name":"good-place-simulation","is_channel":true,"is_group":false,"is_im":false,"created":1601951127,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"good-place-simulation","is_shared":false,"parent_conversation":null,"creator":"U01C6TTNL6Q","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01CDB91DEV"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"torture
        Chidi","creator":"U01C0N8RAUS","last_set":1602116354},"purpose":{"value":"This
        *channel* is for working on a project. Hold meetings, share docs, and make
        decisions together with your team.","creator":"U01C6TTNL6Q","last_set":1601951127},"previous_names":[],"num_members":2},{"id":"C01BU0NRFHC","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1601950932,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"U01C6TTNL6Q","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01CDB91DEV"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":[...]
